.App {
  text-align: center;
  background-color: #404C5A;
  height: 100vh;
  width: auto;
}

.App-header {
  background-color: #33373C;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
}

.User-Greeting: {}
.Navbar {
  background-color: #677990;
  font-size: calc(8px + 2vmin);
  padding: 10px;
  border-bottom: solid 1px;
}

.Greeting {
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
}

.Nav-list {
  justify-items: center;
}
.Nav-item {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
}

.Nav-item:hover {
  color: #33373C;
}

.Login {
  background-color: #33373C;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4%;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.Login-title {
  color: white;
  font-size: calc(10px + 2vmin);
  font-family: 'Merriweather Sans', sans-serif;
}

.Login-content {
  color: #FFFFFF;
  font-size: calc(7px + 2vmin);
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
}

.Login-input {
  font-size: calc(5px + 2vmin);
  font-family: 'Noto Sans TC', sans-serif;
  position: relative;
  top: -15px;
  display: flex;
  border: none;
  width: 99%;
  padding: 1%;
}

.Login-button {
  background-color: #677990;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.Login-button:hover {
  color:#677990;
  background-color: #B1B1B3;
}

.Register-content {
  color: #FFFFFF;
  position: relative;
  top: -18px;
  font-size: calc(4px + 2vmin);
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
}

.Register-input {
  font-size: calc(3px + 2vmin);
  font-family: 'Noto Sans TC', sans-serif;
  position: relative;
  top: -25px;
  display: flex;
  border: none;
  width: 99%;
  padding: 1%;
}

.User-home {
  color:  white
}

.Error-message {
  color: #ff0000;
  position: relative;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
}
