.App {
  text-align: center
}

.App-header {
  background-color: #282c34;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
}


.Navbar {
  background-color: #1DA1F2;
  justify-items: center;
  font-size: calc(8px + 2vmin);
  padding: 10px;
  border-bottom: solid 1px;
}

.Nav-item {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
}

.Nav-item:hover {
  color: #14171A;
}

.Login {
  background-color: #282c34;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4%;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.Login-title {
  color: white;
  font-size: calc(10px + 2vmin);
  font-family: 'Merriweather Sans', sans-serif;
}

.Login-content {
  color: #FFFFFF;
  font-size: calc(7px + 2vmin);
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
}

.Login-input {
  font-size: calc(5px + 2vmin);
  font-family: 'Noto Sans TC', sans-serif;
  position: relative;
  top: -15px;
  display: flex;
  border: none;
  width: 99%;
  padding: 1%;
}

.Register-content {
  color: #FFFFFF;
  position: relative;
  top: -18px;
  font-size: calc(4px + 2vmin);
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
}

.Register-input {
  font-size: calc(3px + 2vmin);
  font-family: 'Noto Sans TC', sans-serif;
  position: relative;
  top: -25px;
  display: flex;
  border: none;
  width: 99%;
  padding: 1%;
}

.User-div {
  background-color:  white;
}

.User-home {
  color:  #282c34;
}

.Error-message {
  color: #ff0000;
  position: relative;
  top: -18px;
  font-size: calc(4px + 2vmin);
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
}